/*Maquetado No. 2*/
*{ /**/
    box-sizing: border-box; /*ajusta*/
    margin: 0;/*reseteo de margenes*/
    padding: 0; /*reseteo de relleno*/
}
html{
    height: 100%; /*alto*/
}
body {
    font-family: 'Dancing Script', cursiva;  /*tipo de fuente*/
    font-size: 1.6rem; /*medidas de la fuente*/
    min-height: 100%; /*alto minimo*/
}
*,
*::before ::after {
    box-sizing: inherit;
}
.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); /*sombra*/
    border-radius: 4px;/*borde redondeado*/
    padding: 10px; /*relleno superior*/
    text-align: center; /*alineacion horizontal*/
}
.header{
    grid-area: header;/*area especifica*/
    background-image: url(../img/fondo.jpg); /*fondo*/
    background-position: center center; /*controla la posicion*/
    background-size: cover; /*dimensiones de la imagen*/
    height: 60vh; /*alto*/
    min-height: 35rem; /*alto minimo*/
}
.contenido-header h1 {
    color: white;/*colorde la fuente*/
    font-size: 100px; /*medidas de la fuente*/
    padding-bottom: 5rem;/*relleno inferior*/
    max-width: 80rem; /*ancho maximo*/
    line-height: 2; /*altura de casillaspor lineas*/
}
@media(min-width: 768px) {
    /*dispositivo pequeno*/
    .contenido-header {
        text-align: left; /*alineacion horizontal*/
    }
}
.barra {
    padding-top: 3rem;/*relleno superior*/
}

@media(min-width) {
    .barra {
        display: flex; /*pantalla flexible*/
        justify-content: space-between;/*controla el alineamiento de los elementos de una caja*/
        align-items: center; /*alineacion de los elementos*/
    }
}
img {
    max-width: 100%; /*ancho maximo*/
}

.logo {
    max-width: 100px; /*ancho maximo*/
}

.contenedor {
    width: 95%; /*ancho*/
    max-width: 120rem; /*ancho maximo*/
    margin: 0 auto; /*medida de margen*/
}
/*--------
   menu
---------*/
.nav{
 grid-area: nav;
    background-color: #e3acf9 ; /*controla el color*/
    color: white;/*colorde la fuente*/
    height: 70px; /*alto*/
}
.nav_container{
    display: flex; /*pantalla flexible*/
    justify-content: space-between; /*controla el alineamiento de los elementos de una caja*/
    align-items: center; /*alineacion de los elementos*/
    width: 90%; /*ancho*/
    max-width: 1200px; /*maximo de ancho*/
    height: 100%; /*alto*/
    margin: 0 auto; /*medida de margen*/
}
.nav_links{
    height: 100%; /*alto*/
    transition: transform .5s;/*duracion del moviiento*/
    display: flex; /*pantalla flexible*/
}
.nav_item{
    list-style: none;/*establece el valor de una propiedad abreviada*/
    position: relative;/*crea una posicion de forma automatica*/
    height: 100%; /*alto*/
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);/*oculta menu desplegable*/
    --transform: rotate(-90deg);
}
.nav_item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /*muestra el menu desplegable*/
    --transform: rotate(0);
} 
.nav_link{
    color: white;/*colorde la fuente*/
    text-decoration: none; /*formato de subrayado*/
    padding: 0 30px; /*relleno superior*/
    display: flex; /*pantalla flexible*/
    height: 100%; /*alto*/
    align-items: center;/*alineacion de los elementos*/
}
.nav_link:hover{
    background-color: #d081ef; /*controla el color*/
}
.list_arrow{
    transform: var(--transform);
    transition: transform .3s;/*duracion del movimiento de la flecha*/
    display: block; /*elemento block*/
    margin-left: 3px; /*medida de margen izquierdo*/
}
.nav_nesting{
    list-style: none; /*establece el valor de una propiedad abreviada*/
    transition: clip-path .3s; /*modulo de mascaras*/ 
    clip-path: var(--clip); /*recordar --clip polygon*/
    position: absolute;/*los elementos se colocan respecto a su contenedor*/
    right: 0;/*posicion horizontal*/
    bottom: 0; /*parte de la posicion establecida*/
    width: max-content; /*ancho*/
    transform: translateY(100%);/*reposiciona verticalmente*/
    background-color: #e3acf9; /*controla el color*/
}
.nav_link--inside{
    padding: 30px 100px 30px 20px; /*relleno superior*/
}
.nav_link--inside:hover{
    background-color: #c96aee; /*controla el color*/
}

/*------------------
    menu celular
-------------------*/
.nav_celular{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}
.nav_img{
    display: block;
    width: 36px;
}
@media(max-width: 800px){
    .nav_celular{
        display: flex;
    }
    .nav_links{
        position:fixed;
        max-width: 200px;
        width: 100%;
       
        background-color: #e3acf9;
        overflow-y:auto;
        display:grid;
        grid-auto-rows: max-content;
       
    }
    .list_arrow{
        margin-left: auto;
        margin-right: 20px;
    }
    .nav_link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }
    .nav_nesting{
        display: grid;
        position:unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3ms;
    }
   
}
/*------------
  izquierdo
------------*/
.aside{
    grid-area: aside;/*modelo maquetado*/
    background-color: #cffdd1; /*controla el color*/
}


/*------------
    derecho
-------------*/
.infor{
    grid-area: infor; /*modelo maquetado*/
    background-color: rgb(245, 234, 216);/*controla el color*/
}
.prim{
    height: 90%; /*alto*/
    width: 95%; /*ancho*/
    grid-area: prim;/*modelo maquetado*/
    background-color: rgb(246, 216, 172); /*controla el color*/
    border-radius: 1em; /*definicion redondeado*/
    margin: 1em;/*medida de margen*/
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);/*sombreado*/

}
.segund{
    height: 90%; /*alto*/
    width: 95%; /*ancho*/
    grid-area: segund;/*modelo maquetado*/
    background-color: rgb(246, 216, 172); /*controla el color*/
    border-radius: 1em; /*definicion redondeado*/
    margin: 1em; /*medida de margen*/
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);/*sombreado*/
}


/*---------------------
    pie de pagina
-----------------------*/
.footer{
    grid-area: footer;/*modelo maquetado*/
    background-color: gray; /*controla el color*/
    margin: 0;/*medida de margen*/
}
.contenedor-footer {
    padding: 1rem 0; /*relleno superior*/
    text-align: center; /*alineacion horizontal*/
}

@media(min-width: 600px) {
    .contenedor-footer {
        display: flex; /*pantalla flexible*/
        justify-content: space-between; /*controla el alineamiento de los elementos de una caja*/
    }
}
.footer nav {
    display: none; /*el elemento no genera caja*/
}
@media(min-width:600px) {
    .footer nav {
        display: block; /*elemento block*/
    }
}
.site-footer a {
    color: white;/*colorde la fuente*/
    font-size: 1.5rem; /*medida de la fuente*/
    margin-right: 4rem; /*medida de margen derecho*/
}


/*-----------
    orden
------------*/

.grid-container{
    display: grid; /*elemento cuadricula*/
    gap: 10px;/* establece los espacios*/
    grid-template-areas: 
    "header"
    "nav"
    "aside"
    "infor"
    "footer"; /*especifica cada una de las areas gris area*/
}

@media(min-width: 600px){
    .grid-container{
    grid-template-columns: 200px auto; /*define el nombre de las lineas*/
    grid-template-rows: 500px 70px auto 100px; /*o hay cuadricula explicita*/
    grid-template-areas: 
       "header header"
       "nav nav"
       "aside infor"
       "footer footer";/*especifica cada una de las areas gris area*/
    }
}

.seccion {
    margin-top: 2rem; /*medida de margen superior*/
    margin-bottom: 2rem;/*medida de margen inferior*/
}
.fw-300 {
    font-weight: 300; /*grososr de la fuente*/
}

.centrar-texto {
    text-align: center; /*alineacion horizontal*/
}
.d-block {
    display: block !important; /*elemento block*/
}


/*------------
    botones
-------------*/
.boton {
    color: aliceblue;/*colorde la fuente*/
    font-weight: 700; /*grosor de la fuente*/
    text-decoration: none; /*formatode subrayado*/
    font-size: 1.8rem; /*medidas de la fuente*/
    padding: 1rem 3rem; /*relleno superior*/
    margin-top: 3rem; /*medida de margen superio*/
    display: inline-block; /*combinacion de display ocupa el 100%*/
    text-align: center; /*alineacion horizontal*/
    border: none; /*borde*/
    display: block; /*elemento block*/
    flex: 0 0 100%; /*flexible*/
}

@media(min-width: 768px) {
    .boton {
        display: inline-block; /*combinacion de display que ocupa el 100%*/
        flex: 0 0 auto; /*flexible*/
    }
}

.boton:hover {
    cursor: pointer; /*especifica el tipo de cursor*/
}

.boton-morado {
    background-color: blueviolet; /*controla el color*/
}


/*----------------
    portafolio
----------------*/
@media(min-width: 768px) {
    .contenedor-arreglos {
        display: flex; /*pantalla flexible*/
        justify-content: space-between; /*controla el alineamiento de los elementos de una caja*/
        flex-wrap: wrap; /*obliga a los "hijos"a pertenecer a una misma lines*/
    }
}

.arreglo {
    border: 1px solid gray; /*bordes*/
    background-color: white; /*controla el color*/
    margin-bottom: 2rem; /*margen inferior*/
}

@media(min-width: 768px) {
    .arreglo {
        flex: 0 0 calc(33.3% - 1rem); /*flexible*/
    }
}

.contenido-arreglo {
    padding: 2rem; /*relleno superior*/
}

.contenido-arreglo h4,
.contenido-arreglo p {
    margin: 0; /*medida de margen*/
}

.precio {
    color: indigo;/*colorde la fuente*/
    font-weight: 700; /*grosor de la fuente*/
}


/*--------------
nosotros
---------------*/

.text-nosotros {
    font-weight: 900;/*grosor de la fuente*/
    font-size: 2rem;/*medidas de la fuente*/
    margin: 0; /*medida de margen*/
    padding: 1red 0 3rem 0; /*relleno superior*/
}

/*----------------
  contacto y blog
-----------------*/

legend {
    font-size: 2rem;/*medidas de la fuente*/
}

label {
    font-weight: 300; /*grosor de la fuente*/
    display: block; /*elemento block*/
}

input:not([type=submit]),textarea{
    display: block; /*elemento block*/
    width: 98%; /*ancho*/
    padding: 1rem; /*relleno superior*/
    margin-bottom: 2rem;/*margen  inferior*/
    border-radius: 1rem;/*definicion redondeado*/
}

@media(min-width: 768px){
    .imagen{
        flex-basis: 40%; /*base flexible*/
    }
}
.entrada{
    margin-bottom: 2rem; /*margen  inferior*/
}
@media(min-width: 768px){
    .entrada{
        display: flex; /*pantalla flexible*/
        justify-content: space-between; /*controla el alineamiento de los elementos de una caja*/
    }
}
.entrada:last-of-type{
    margin-bottom: 0; /*margen  inferior*/
}
@media(min-width: 768px){
    .entrada .imagen{
        flex-basis: 40%; /*base flexible*/
    }
}
.texto-entrada a{
    color: black;/*colorde la fuente*/
    text-decoration: none; /*formato subrayado*/
}
.texto-entrada h4::after{
    content: ""; /*genera nuevo contenido*/
    display: block;/*elemento block*/
    width: 15rem; /*ancho*/
    height: 0.5rem; /*alto*/
    background-color: blueviolet;/*controla el color*/
    margin-top: 1rem; /*medidas de margen del elemento*/
}
.texto-entrada span{
    color:indigo;/*colorde la fuente*/
}
.texto-entrada{
    flex-basis: calc(60%-3rem); /*base flexible*/
}
.entrada-blog.texto-entrada{
    flex-basis: calc(60%-3rem); /*base flexible*/
}

/*-------------
    carrusel
--------------*/
.titulo {
    font-size: 30px; /*tamano de la letra*/
    color: black; /*color de la letra*/
}

.subtitulo {
    margin: 0; /*medida de los margenes*/
    color: black;  /*color dela letra*/
    display: inline;/*ubicacion*/
    font-size: 30px;  /*tamano de la letra*/
    text-transform: uppercase; /*escribe en mayuscula todo*/
}

.ideas {
    color: black; /*colorde la fuente*/
    margin: 10px 0; /*medidas de las imagenes*/
    font-size: 20px;  /*tamano de la letra*/
    text-shadow: 2px 2px 1px rgba (0, 0, 0, 0.75);/*sombreado*/
    margin-top: 0; /*margen del elemento*/
}

.carousel {
    min-height: 500px;/*minimo de alto*/
    min-width: 500px; /*minimo deancho*/
}

.carousel .carousel-item {
    display: flex; /*situan elementos*/
    flex-direction: column;  /*situan elementos flexibles dentro del contenedor*/
    justify-content: center; /*alineaion de los elementos*/
    align-items: center;  /*valor sobre todo el grupo*/
    user-select: none;  /*no permite seleccionar*/
    width: 500px;  /*ancho*/
    height: 500px; /*alto*/
}

.carousel .carousel-item img {
    width: 100%; /*ancho*/
    height: 100%; /*alto*/
    border-radius: 15px;/*bordes*/
}

.carousel .indicators .carousel-item {
    border-radius: 0;/*definicion redondeado*/
    transform: rotate(45deg); /*modificar rotacion*/
    margin: 0 15px; /*medidas de margen*/
    background: black; /* establece el fondo*/

}




